@media (max-width: 768px) {
    .nav {
      display: grid !important;
      grid-template-columns: repeat(3, 1fr) !important;
      align-content: center !important;
    }
  }
  
  @media (max-width: 430px) {
    header {
      flex-direction: column;
      gap: 5px;
      height: 130px !important;
    }
  
    header img {
      width: 70px !important; 
     }
  
     .sec1 {
      height: fit-content !important;
     }
  
     section {
      height: 100% !important;
     }
  
     .group-container, .group-container2 {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);
    }
  }