@media (max-width: 768px) {
  .image-modal {
    top: -11%;
  }

  .presentation-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 430px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .nav {
    flex-direction: column;
    width: 100%;
    display: none;
    margin-top: 15px;
    gap: 7px;
  }

  .nav.show {
    display: flex;
  }

  .nav a {
    width: 100%;
  }

  .nav .button {
    width: 100%;
  }

  .hamburger {
    display: flex;
  }

  .sec1 {
    height: fit-content;
  }

  section {
    height: 100%;
  }

  .group-container,
  .group-container2 {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }

  .image-modal {
    top: -13%;
  }

  .pregnancy-box {
    flex-direction: column;
  }

  .presentation-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
